<header class="cf-navbar-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">gerpayt.cn</a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="icon-home"></span>首页</a></li>
                <li><a href="http://blog.gerpayt.cn"><span class="icon-pen"></span>博客</a></li>
{#                <li><a href="#note"><span class="icon-2x icon-notebook"></span><br />笔记</a></li>#}
{#                <li><a href="#life"><span class="icon-2x icon-mug"></span><br />生活</a></li>#}
                <li><a href="http://image.gerpayt.cn"><span class="icon-images"></span>图片</a></li>
{#                <li><a href="#music"><span class="icon-2x icon-music"></span><br />音乐</a></li>#}
{#                <li><a href="#download"><span class="icon-2x icon-drawer"></span><br />资源</a></li>#}
                <li><a href="https://github.com/gerpayt"><span class="icon-github"></span>代码</a></li>
                <li><a href="/works"><span class="icon-drawer"></span>作品</a></li>
                <li><a href="/resume"><span class="icon-profile"></span>简历</a></li>
                {#                <li><a href="#about"><span class="icon-2x icon-user"></span><br />关于</a></li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-2x icon-stack"></span><br />其他</a>#}
{#                    <ul class="dropdown-menu dropdown-menu-right" role="menu">#}
{#                        <li><a href="#">作品展示</a></li>#}
{#                        <li><a href="#">酷站推荐</a></li>#}
{#                        <li><a href="#">求职简历</a></li>#}
{#                        <li><a href="#">其他信息</a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </nav><!--/.nav-collapse -->

    </div>
</header>
