{% load static from staticfiles %}

<div class="cate-banner">
    <img class="img-responsive" src="{% if work_cate.image %}{{ work_cate.image.url }}{% else %}{% static 'works/img/default-image.png' %}{% endif %}" alt="{{ work_cate.title }}">
    <div class="cate-caption">
        <h2 class="featurette-heading">{{ work_cate.title }}</h2>
        <p class="lead">{{ work_cate.introduction }}</p>
    </div>
</div>

<hr class="featurette-divider">
<div class="row work-list">
{% for work_item in work_cate.workitem_set.all %}
    {% include 'works/partial_item.html' %}
{% endfor %}
</div>

{% if not forloop.last %}
    <hr class="featurette-divider">
{% endif %}
