/*
.work-item {
  .make-md-column(4; @gutter: @grid-gutter-width);
  text-align: center;
}
*/
.work-list {
  margin-bottom: 20px;
  text-align: center;
}
.work-list .caption {
  height: 180px;
}
.work-list .caption p:nth-child(2) {
  text-align: left;
  height: 58px;
  overflow: hidden;
}
.featurette-divider {
  margin: 20px 0;
}
