/*
.work-item {
  .make-md-column(4; @gutter: @grid-gutter-width);
  text-align: center;
}
*/
.work-list {
  margin-bottom: 20px;
  text-align: center;
}
.work-list .caption a:hover {
  text-decoration: none;
}
.work-list .caption p {
  text-align: left;
  height: 58px;
  overflow: hidden;
}
.cate-banner {
  position: relative;
}
.cate-banner .cate-caption {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  color: #ffffff;
}
.featurette-divider {
  margin: 20px 0;
}
